/*----------------------------------------
------------------------------------------
	## GENERAL
------------------------------------------
----------------------------------------*/

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
}

*:focus, *:hover, * {
	outline: none;
}

.cf::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.no-padding {
	padding-left: 0!important;
	padding-right: 0!important;
}

.wow {
	visibility: hidden;
}

.vcenter {
	display: flex;
	align-items: center;
}

.valign {
	display: flex;
	flex-direction: row;

	> [class^="col-"],
	> [class*=" col-"] {
		display: flex;
		align-items: center;
		justify-content: center;
	}
} // END VALIGN

.vertical-text {
	writing-mode: vertical-rl;
	&.flip {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}// END VERTICAL TEXT

.fancybox-slide > * {
	padding: 0;
}

.svg {
	display: inline-block;
	width: 50px;
	height: 50px;
} // END SVG

section {
	position: relative;
	overflow: hidden;
}

a {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	outline: none!important;
}

img, svg {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	max-width: 100%;
}

button {
	outline: none!important;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

textarea, input {
	-webkit-appearance: none;
}

textarea {
	resize: vertical;
}

form label[for="sendContact"],
form label[for="sendNews"] {
	cursor: pointer;
}

h1, h2, h3, h4, p {
	margin: 0;
}

body.no-scroll {
	overflow: hidden!important;
}

br {
	line-height: inherit;
}

.block { display: inline-block; }
.rellax { display: inline-block; }

/*----------------------------------------
------------------------------------------
	## SAFARI / IPAD / MOBILE ADJUSTMENTS
------------------------------------------
----------------------------------------*/

// FIX COL WRONG BREAK
body.ipad,
body.safari {
	.row {
		> div {
			margin-left: -2px;
			margin-right: -2px;
		} // END > DIV
	} // END ROW
} // END IPAD

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}