.home {

	header {

		nav {
			text-align: center;
			background-color: #363636;
			font-family: 'Montserrat', sans-serif;
			color: #fff;

			.logo {
				display: inline-block;
				vertical-align: middle;
				img {
					display: block;
				}

				@media #{$mq-sm-max} {
					margin-left: -25px;
				}

			}

			.brand {
				margin-left: 15px;
				display: inline-block;
				text-transform: uppercase;
				font: Bold 23px/36px Montserrat;
				letter-spacing: 0.68px;
				line-height: 109px;

				@media #{$mq-sm-max} {
					margin-left: 0;
					font-size: 15px;
				}

			}

		}
	}

	section {

		&#hero {

			background-image: url('../img/hero-bg.png');
			overflow: visible;

			.hero-content {

				padding: 15px 30px;
				color: #fff;
				background-image: url('../img/hero-content-bg.png');
				background-repeat: repeat-x;
				background-position: center;

				.hero-nome {
					font-size: 15px;
					font-weight: bold;
					line-height: 18px;
				}

				.hero-img {
					margin-top: 15px;
					img {
						max-width: 100%;
					}
				}

				.hero-desc {
					margin: 20px auto 50px;
					max-width: 270px;
					font-size: 20px;
					text-align: center;
				}

				.scroll {
					position: relative;
					top: 50px;
					display: block;
					margin: 0 auto;
					width: 30px;
					height: 50px;
					border-radius: 30px;
					background-color: #fff;
					animation-duration: 2s;

					@media #{$mq-sm-max} {
						display: none;
					}

					&:before {
						content: '';
						position: relative;
						display: block;
						top: 10px;
						margin: 0 auto;
						height: 10px;
						width: 2px;
						background-color: #000;
					}

					&:after {
						content: '';
						display: block;
						position: relative;
						top: 45px;
						left: 10px;
						width: 10px;
						height: 10px;
						border-bottom: 1px solid #fff;
						border-right: 1px solid #fff;
						transform: rotate(45deg);
					}
				}

			}

		}

		&#personagens {
			padding-top: 240px;
			padding-bottom: 250px;
			background-color: #363636;
			z-index: -1;

			@media #{$mq-sm-max} {
				padding-top: 200px;
				padding-bottom: 0;
			}

			.personagem {
				max-width: 380px;
				margin: 0 auto;
				height: 100%;
				padding: 0 30px;
				border-radius: 25px;
				background-color: #fff;

				@media #{$mq-sm-max} {
					height: auto;
					padding-bottom: 15px;
					margin-bottom: 200px;
				}

				.personagem-img {
					position: relative;
					top: -80px;
					margin-bottom: -50px;
					border: 3px solid #fff;
					background-color: #363636;
					border-radius: 80px;

					img {
						position: relative;
						top: -80px;
						margin-bottom: -92px;
					}

				}

				.personagem-bio {
					font-size: 20px;
					height: 100%;
					margin-bottom: 80px;

					@media #{$mq-md-max} {
						font-size: 16px;
					}

				}

			}

		}

		&#contato {
			background-color: #58B790;
			overflow: visible;

			.contato-form {
				position: relative;
				top: -50px;
				margin-bottom: -100px;
				padding: 80px 100px 100px;
				background-color: #fff;
				border-radius: 10px;

				@media #{$mq-sm-max} {
					padding: 50px 25px;
				}

				h1 {
					margin-bottom: 40px;
					color: #58B790;
					font: Bold 35px/46px Montserrat;
					text-align: center;

					@media #{$mq-sm-max} {
						font-size: 28px;
					}
				}

				p {
					margin-bottom: 50px;
					font: Regular 20px/21px Open Sans;
					
					@media #{$mq-sm-max} {
						font-size: 15px;
					}

				}

				.contato-form-fields {
					padding: 0 50px;

					@media #{$mq-sm-max} {
						padding: 0;
					}

					input {

						&[type="text"] {
							display: inline-block;
							width: 46%;
							padding: 10px;
							margin-bottom: 40px;
							border: 1px solid #363636;

							@media #{$mq-md-max} {
								width: 100%;
							}

						}

						&+input {
							margin-left: 6.9%;

							@media #{$mq-md-max} {
								margin-left: 0;
							}

						}

						&[type="submit"] {
							margin-top: 40px;
							display: block;
							width: 46%;
							padding: 10px 0;
							font-size: 18px;
							color: #fff;
							text-transform: uppercase;
							background-color: #63C7A9;
							border: 1px solid transparent;
							transition: all ease 100ms;
							cursor: pointer;

							&:hover {
								color: #63C7A9;
								border-color: #63C7A9;
								background-color: #fff;
							}
						}

					}

					textarea {
						display: block;
						width: 100%;
						height: 200px;
						padding: 10px;
						border: 1px solid #363636;
					}
				}

				.mensagem {
					margin-top: 50px;
					font-weight: bold;
					transition: all ease 500ms;
					opacity: 0;
					&.show {
						opacity: 1;
					}
				}

			}
		}

	}

	footer {
		padding-top: 200px;
		padding-bottom: 200px;
		background-color: #363636;

		@media #{$mq-sm-max} {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		.backtotop {
			float: right;
			position: relative;
			margin-right: 10%;
			width: 100px;
			height: 100px;
			background-color: #fff;
			border-radius: 100%;
			cursor: pointer;

			@media #{$mq-sm-max} {
				width: 50px;
				height: 50px;
			}
			
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 25px;
				height: 25px;
				margin-top: -10px;
				margin-left: -12px;
				border-top: 3px solid #363636;
				border-left: 3px solid #363636;
				transform: rotate(45deg);

				@media #{$mq-sm-max} {
					width: 10px;
					height: 10px;
					margin-top: -5px;
					margin-left: -5px;
				}

			}

		}

	}

}